* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 15px;
  margin: 20px;
  position: relative;
}

.board {
  height: 70vh;
  border: 1px solid #b2b1b1;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.items {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 100%;
}

.delete-btn {
  position: absolute;
  color: gray;
  cursor: pointer;
  right: 10px;
  top: 20px;
}

.delete-btn:hover {
  color: rgb(223, 78, 78);
}

.item {
  border: 1px solid #232222;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  padding: 15px 8px;
  cursor: pointer;
  width: 100%;
  /* transition: background-color 1s, color 10s; using this we can control transition of multiple css property */
  transition: 1s;
}

.item:hover {
  background-color: black;
  color: white;
}

#add-task-btn {
  padding: 4px;
  margin-left: 15px;
  border-radius: 5px;
}

#add-new-board {
  padding: 4px;
  margin-left: 15px;
  border-radius: 5px;
}

#modal{
  height: 200px;
  width: 550px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position : absolute;
  visibility: hidden;
  margin-left: 650px;
  margin-top: 150px;
  background-color: #b2b1b1;
}

#board-title {
  padding: 4px;
  border-radius: 5px;
  width: 50%;
  margin-bottom: 20px;
}

#add-board {
  padding: 4px;
  border-radius: 5px;
  width: 20%;
}

#close-btn{
  position: absolute;
  margin-top: -170px;
  cursor: pointer;
  margin-right: -520px;
}
